@keyframes firstOnScreen {
    from {transform: translateY(500px); opacity: 0;}
    to {transform: translateY(0px); opacity: 1;}
}

@keyframes offscreen {
    from {transform: translateX(0px); opacity: 1;}
    to {transform: translateX(-500px); opacity: 0;}
}

@keyframes onscreen {
    from {transform: translateX(500px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
}

@keyframes offscreenRev {
    from {transform: translateX(0px); opacity: 1;}
    to {transform: translateX(500px); opacity: 0;}
}

@keyframes onscreenRev {
    from {transform: translateX(-500px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}