.profile {
  display: none;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}
.profile p {
  margin-bottom: 12.75px;
}
.profile h4 {
  margin-bottom: 10px;
}
.profile .profile_items {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 0.4fr 0.4fr;
  position: relative;
}
.profile .profile_items img {
  height: 100vh;
  min-height: 815px;
  max-height: 1000px;
}
.profile .profile_items small {
  color: darkgray;
}
.profile .profile_items .profile_text {
  width: 500px;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 9% 9% 9% 9%;
  padding: 17px;
  margin-top: 60px;
  margin-bottom: 60px;
  line-height: 8.1px;
}
.profile .profile_items .profile_text .title {
  font-family: "Acme", sans-serif;
  font-size: 40px;
  color: white;
  margin-left: 35px;
}
.profile .profile_items .profile_text .title hr {
  position: relative;
  color: white;
  height: 2px;
  opacity: 0.7;
  margin-top: auto;
  margin-bottom: 10px;
  right: 18px;
}
.profile .profile_items .profile_text .title .hr {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
.profile .profile_items .profile_text .title .hr-small {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.profile .profile_items .profile_text .content {
  text-align: left;
}
.profile .profile_items .profile_text .content snap.question {
  border-radius: 100px;
}
.profile .profile_items .profile_text .content .in-title {
  font-family: "Concert One", cursive;
  color: white;
  margin-top: 35px;
  font-size: 22px;
}
.profile .profile_items .profile_text .content .in-title.hashtags {
  margin-top: 25px;
}
.profile .profile_items .profile_text .content .special-text {
  margin-top: 23px;
  font-size: 15px;
}
.profile .profile_items .profile_text .content p {
  margin-left: 0;
  margin-right: 0;
  color: white;
  font-size: 18px;
}
.profile .profile_items .profile_text .content p a {
  color: rgb(212, 224, 255);
  transition: color 125ms;
  text-decoration-line: underline;
}
.profile .profile_items .profile_text .content p a:hover {
  color: rgb(232, 237, 255);
}
.profile .profile_items .profile_text .content .social {
  grid-template-columns: 0.19fr 0.19fr;
  display: grid;
}
.profile .profile_items button {
  background: linear-gradient(90deg, rgb(194, 169, 255) 0%, rgb(117, 123, 242) 100%);
  background-size: 150% 150%;
  border: solid 3px rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  color: white;
  padding: 14px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: sticky;
  top: 100%;
  white-space: nowrap;
  transition: font-size 0.1s ease-in-out;
}
.profile .profile_items button:focus, .profile .profile_items button:active {
  outline: none !important;
  box-shadow: none;
}
.profile .profile_items button:hover {
  font-size: 19px;
}

@media (max-width: 1000px) {
  body {
    overflow: auto !important; /* important cuz profiles.js overrides it */
  }
  .profile .profile_items {
    grid-template-columns: 0.4fr;
  }
  .profile .profile_items img {
    margin-left: 5%;
    max-width: 100vw;
    width: auto;
    height: auto;
    min-height: none;
    max-height: 1200px;
  }
  .profile .profile_items .profile_text {
    margin-left: 15vw;
    margin-right: 10vw;
    margin-bottom: 15vh;
    width: 70vw;
    height: 160vw;
    border-width: 0.6vw;
  }
  .profile .profile_items .profile_text .title {
    font-size: 6.3vw;
  }
  .profile .profile_items .profile_text .title hr {
    color: white;
    height: 0.28vw;
    opacity: 0.7;
    margin-top: auto;
    margin-bottom: 1.8vw;
    right: 3vw;
  }
  .profile .profile_items .profile_text .title .hr {
    width: 50vw;
  }
  .profile .profile_items .profile_text .title .hr-small {
    width: 35vw;
  }
  .profile .profile_items .profile_text .content .in-title {
    margin-top: 2vh;
    margin-bottom: 0.7vh;
    font-size: 5.22vw;
  }
  .profile .profile_items .profile_text .content .special-text {
    margin-top: 4.35vw;
    font-size: 3.3vw;
  }
  .profile .profile_items .profile_text .content p {
    color: white;
    font-size: 4vw;
    margin-bottom: 3vw;
  }
  .profile .profile_items .profile_text .content p a {
    color: rgb(215, 226, 255);
    text-decoration-line: underline;
  }
  .profile .profile_items button {
    font-size: 4vw;
    width: 35vw;
    height: 15vw;
    top: 100%;
  }
}/*# sourceMappingURL=profiles.css.map */