.profile {
    display: none;
    margin: 0 auto;
    height: 100svh;
    width: 100svw;
    max-width: 100%;

    .profile_items {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: grid;
        grid-template-columns: 0.4fr 0.4fr;
        position: relative;

        .profile_img img {
            height: 100svh;
            min-height: 815px;
            max-height: 1000px;
            image-rendering: auto;
        }

        small {
            color: darkgray;
        }

        .profile_about {
            height: fit-content;
            max-width: 465px;
            margin-top: 50px;

            .profile_nav {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                text-align: center;

                button {
                    padding-left: 20px;
                    padding-right: 20px;
                    border: none;
                    border-left: solid 1px rgba(240, 248, 255, 1);
                    border-right: solid 1px rgba(240, 248, 255, 1);
                    position: relative;
                    border-bottom: none;                 
                    background-color: rgba(0, 0, 0, 0.1);
                    color: white;
                    height: 27px;

                    p {
                        font-family: 'Acme', sans-serif;
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.2)!important; // Overrides JavaScript
                    }
                }

                .selected {background-color: rgba(0, 0, 0, 0.2);}

                .wrapper {
                    border-radius: 6px 6px 0px 0px;
                    border-top: solid 2px rgba(240, 248, 255, 1);
                    border-left: solid 2px rgba(240, 248, 255, 1);
                    border-right: solid 2px rgba(240, 248, 255, 1);

                    button {
                        cursor: pointer;
                    }

                    button:first-of-type {
                        border: none;
                        border-right: solid 1px rgba(240, 248, 255, 1);
                        border-radius: 6px 0px 0px 0px;
                    }
                    
                    button:last-of-type {
                        border: none;
                        border-left: solid 1px rgba(240, 248, 255, 1);
                        border-radius: 0px 6px 0px 0px;
                    }
                }
            }

            .profile_text {
                position: relative;
                min-height: 755px;
                height: auto;
                max-height: 850px;
                border: 3px solid rgb(255, 255, 255);
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 9% 9% 9% 9%;
                padding: 17px;
                margin-bottom: 10px;
                line-height: 20px;

                .title {
                    font-family: 'Acme', sans-serif;
                    font-size: 40px;
                    color: white;
                    margin-left: 35px;
                    margin-bottom: 35px;

                    hr {
                        position: relative;
                        color: white;
                        height: 2px;
                        opacity: 0.7;
                        margin-top: auto;
                        margin-bottom: 10px;
                        right: 18px;
                    }

                    .hr {
                        margin-left: auto;
                        margin-right: auto;
                        width: 350px;
                    }

                    .hr-small {
                        margin-left: auto;
                        margin-right: auto;
                        width: 250px;
                    }
                }

                .content {
                    display: block;
                }

                .credits, .contact, .character {
                    display: none;
                }

                .content, .credits, .contact, .character {
                    text-align: left;

                    .hidden {
                        user-select: none;
                        cursor: pointer;
                        color: lightgray;

                        &:hover {
                            color: white;
                        }
                    }

                    div.p p {
                        margin-bottom: 10px;
                    }

                    snap.question {
                        border-radius: 100px;
                    }

                    .in-title {
                        font-family: 'Concert One', cursive;
                        color: white;
                        margin: 0;
                        margin-top: 25px;
                        margin-bottom: 5px;
                        font-size: 22px;
                    }

                    .special-text {
                        margin: 0;
                        margin-top: 10px;
                        font-size: 15px;
                    }

                    p {
                        color: white;
                        font-size: 18px;
                        margin: 0;
                        margin-bottom: 1px;

                        a {
                            color: rgb(212, 224, 255);
                            transition: color 125ms;
                            text-decoration-line: underline;

                            &:hover {
                                color: rgb(232, 237, 255);
                            }
                        }
                    }
                }

                .content {
                    .social {
                        grid-template-columns: repeat(2, 0.19fr);
                        display: grid;
                        grid-column-gap: 5px;
                        grid-row-gap: 0;
                    }
                }

                button.btn {
                    margin-top: 25px;
                    background: linear-gradient(90deg, rgba(194,169,255,1) 0%, rgba(117,123,242,1) 100%);
                    background-size: 150% 150%;
                    border: solid 3px rgba(255, 255, 255, 0.9);
                    border-radius: 50px;
                    color: white;
                    padding: 14px 37px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 18px;
                    position: sticky;
                    top: 100%;
                    white-space: nowrap;
                    &:focus, &:active {
                        outline: none !important; // Overrides bootstrap
                        box-shadow: none;
                    }

                    transition: font-size 0.1s ease-in-out, padding 0.1s ease-in-out;
                    &:hover {
                        font-size: 20px;
                        padding: 12.5px 33.5px;

                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    body {
        overflow: auto!important; /* important cuz profiles.js overrides it */
    }

    .profile .profile_items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .profile_img img {
            min-width: auto;
            max-width: 100svw;
            min-height: auto;
            max-height: 1200px;
            width: auto;
            height: auto;
            object-fit: contain;
        }

        .profile_about {
            width: 90svw;
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 535px) {
    .profile_nav {
        width: 75svw;

        button {
            width: 18svw;
            padding-right: 0px!important;
            padding-left: 0px!important;
        }
    }

    .profile .profile_items .profile_about .profile_text {
        padding-right: 5px!important;
        padding-left: 14px!important;

        .title {
            padding-right: 10px!important;
            font-size: 8svw;

            hr {
                color: white;
                height: 0.45svw;
                opacity: 0.7;
                margin-top: auto;
                margin-bottom: 1.8svw;
            }

            .hr {
                width: 65svw;
            }

            .hr-small {
                width: 50svw;
            }
        }


        p {
            font-size:17px!important;
        }
        .content {
            .special-text {
                font-size: 15px!important;
            }
        }
    }
}
