.profile {
    display: none;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    max-width: 100%;

    p {
        margin-bottom: 0.75vw;
    }

    h4 {
        margin-bottom: 0.5vw;
    }

    .profile_items {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: grid;
        grid-template-columns: 0.4fr 0.4fr;
        position: relative;

        img {
            height: 100vh;
        }

        .profile_text {
            width: calc(150px + 20vw);
            border: 0.2vw solid rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 9% 9% 9% 9%;
            padding: 1vw;
            margin-top: 7.5vh;
            margin-bottom: 7.5vh;
            line-height: 0.8vh;

            .title {
                font-family: 'Acme', sans-serif;
                font-size: 2.4vw;
                color: white;
                margin-left: 2.3vw;

                hr {
                    position: relative;
                    color: white;
                    height: 0.12vw;
                    opacity: 0.7;
                    margin-top: auto;
                    margin-bottom: 0.61vw;
                    right: 1.2vw;
                }
    
                .hr {
                    margin-left: auto;
                    margin-right: auto;
                    width: 20vw;
                }
    
                .hr-small {
                    margin-left: auto;
                    margin-right: auto;
                    width: 15vw;
                }
            }

            .content {
                text-align: left;
                
                .in-title {
                    font-family: 'Concert One', cursive;
                    color: white;
                    margin-top: 4vh;
                    font-size: 1.22vw;
                }

                .special-text {
                    margin-top: 1.3vw; font-size: 0.9vw;
                }

                p {
                    margin-left: 0;
                    margin-right: 0;
                    color: white;
                    font-size: 1vw;

                    a {
                        color: rgb(215, 226, 255);
                        text-decoration-line: underline;
                    }
                }

                .social {
                    grid-template-columns: 0.19fr 0.19fr;
                    display: grid;
                }
            }
        }

        button {
            background: linear-gradient(90deg, rgba(194,169,255,1) 0%, rgba(117,123,242,1) 100%);
            background-size: 150% 150%;
            border: solid 0.2vw rgba(255, 255, 255, 0.9);
            border-radius: 5vw;
            color: white;
            padding: 1.6vh 2vw;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1vw;
            position: sticky;
            top: 100vw;
        }
    }
}

@media (max-width: 1000px) {
    body {
        overflow: auto!important; /* important cuz profiles.js overrides it */
    }

    .profile .profile_items {
        grid-template-columns: 0.4fr;

        .profile_text {
            margin-left: 15vw;
            margin-right: 10vw;
            margin-bottom: 15vh;
            width: 70vw;
            height: 120vw;
            border-width: 0.6vw;

            .title {
                font-size: 6.3vw;

                hr {
                    color: white;
                    height: 0.28vw;
                    opacity: 0.7;
                    margin-top: auto;
                    margin-bottom: 1.61vw;
                }
    
                .hr {
                    width: 50vw;
                }
    
                .hr-small {
                    width: 35vw;
                }
            }

            .content {
                
                .in-title {
                    margin-top: 2vh;
                    margin-bottom: 0.7vh;
                    font-size: 5.22vw;
                }

                .special-text {
                    margin-top: 4.35vw; font-size: 3.3vw;
                }

                p {
                    color: white;
                    font-size: 4vw;
                    margin-bottom: 3vw;

                    a {
                        color: rgb(215, 226, 255);
                        text-decoration-line: underline;
                    }
                }
            }
        }

        button {
            font-size: 4vw;
            width: 30vw;
            height: auto;
        }
    }
}