.profile {
  display: none;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}
.profile .profile_items {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 0.4fr 0.4fr;
  position: relative;
}
.profile .profile_items .profile_img img {
  height: 100vh;
  min-height: 815px;
  max-height: 1000px;
}
.profile .profile_items small {
  color: darkgray;
}
.profile .profile_items .profile_about {
  height: -moz-fit-content;
  height: fit-content;
  max-width: 465px;
  margin-top: 50px;
}
.profile .profile_items .profile_about .profile_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.profile .profile_items .profile_about .profile_nav button {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-left: solid 1px rgb(240, 248, 255);
  border-right: solid 1px rgb(240, 248, 255);
  position: relative;
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  height: 27px;
}
.profile .profile_items .profile_about .profile_nav button p {
  font-family: "Acme", sans-serif;
}
.profile .profile_items .profile_about .profile_nav button:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.profile .profile_items .profile_about .profile_nav .selected {
  background-color: rgba(0, 0, 0, 0.2);
}
.profile .profile_items .profile_about .profile_nav .wrapper {
  border-radius: 6px 6px 0px 0px;
  border-top: solid 2px rgb(240, 248, 255);
  border-left: solid 2px rgb(240, 248, 255);
  border-right: solid 2px rgb(240, 248, 255);
}
.profile .profile_items .profile_about .profile_nav .wrapper button {
  cursor: pointer;
}
.profile .profile_items .profile_about .profile_nav .wrapper button:first-of-type {
  border: none;
  border-right: solid 1px rgb(240, 248, 255);
  border-radius: 6px 0px 0px 0px;
}
.profile .profile_items .profile_about .profile_nav .wrapper button:last-of-type {
  border: none;
  border-left: solid 1px rgb(240, 248, 255);
  border-radius: 0px 6px 0px 0px;
}
.profile .profile_items .profile_about .profile_text {
  position: relative;
  min-height: 755px;
  height: auto;
  max-height: 850px;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 9% 9% 9% 9%;
  padding: 17px;
  margin-bottom: 10px;
  line-height: 20px;
}
.profile .profile_items .profile_about .profile_text .title {
  font-family: "Acme", sans-serif;
  font-size: 40px;
  color: white;
  margin-left: 35px;
  margin-bottom: 35px;
}
.profile .profile_items .profile_about .profile_text .title hr {
  position: relative;
  color: white;
  height: 2px;
  opacity: 0.7;
  margin-top: auto;
  margin-bottom: 10px;
  right: 18px;
}
.profile .profile_items .profile_about .profile_text .title .hr {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
.profile .profile_items .profile_about .profile_text .title .hr-small {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.profile .profile_items .profile_about .profile_text .content {
  display: block;
}
.profile .profile_items .profile_about .profile_text .credits, .profile .profile_items .profile_about .profile_text .contact, .profile .profile_items .profile_about .profile_text .character {
  display: none;
}
.profile .profile_items .profile_about .profile_text .content, .profile .profile_items .profile_about .profile_text .credits, .profile .profile_items .profile_about .profile_text .contact, .profile .profile_items .profile_about .profile_text .character {
  text-align: left;
}
.profile .profile_items .profile_about .profile_text .content div.p p, .profile .profile_items .profile_about .profile_text .credits div.p p, .profile .profile_items .profile_about .profile_text .contact div.p p, .profile .profile_items .profile_about .profile_text .character div.p p {
  margin-bottom: 10px;
}
.profile .profile_items .profile_about .profile_text .content snap.question, .profile .profile_items .profile_about .profile_text .credits snap.question, .profile .profile_items .profile_about .profile_text .contact snap.question, .profile .profile_items .profile_about .profile_text .character snap.question {
  border-radius: 100px;
}
.profile .profile_items .profile_about .profile_text .content .in-title, .profile .profile_items .profile_about .profile_text .credits .in-title, .profile .profile_items .profile_about .profile_text .contact .in-title, .profile .profile_items .profile_about .profile_text .character .in-title {
  font-family: "Concert One", cursive;
  color: white;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 22px;
}
.profile .profile_items .profile_about .profile_text .content .special-text, .profile .profile_items .profile_about .profile_text .credits .special-text, .profile .profile_items .profile_about .profile_text .contact .special-text, .profile .profile_items .profile_about .profile_text .character .special-text {
  margin: 0;
  margin-top: 10px;
  font-size: 15px;
}
.profile .profile_items .profile_about .profile_text .content p, .profile .profile_items .profile_about .profile_text .credits p, .profile .profile_items .profile_about .profile_text .contact p, .profile .profile_items .profile_about .profile_text .character p {
  color: white;
  font-size: 18px;
  margin: 0;
  margin-bottom: 1px;
}
.profile .profile_items .profile_about .profile_text .content p a, .profile .profile_items .profile_about .profile_text .credits p a, .profile .profile_items .profile_about .profile_text .contact p a, .profile .profile_items .profile_about .profile_text .character p a {
  color: rgb(212, 224, 255);
  transition: color 125ms;
  text-decoration-line: underline;
}
.profile .profile_items .profile_about .profile_text .content p a:hover, .profile .profile_items .profile_about .profile_text .credits p a:hover, .profile .profile_items .profile_about .profile_text .contact p a:hover, .profile .profile_items .profile_about .profile_text .character p a:hover {
  color: rgb(232, 237, 255);
}
.profile .profile_items .profile_about .profile_text .content .social {
  grid-template-columns: repeat(2, 0.19fr);
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 0;
}
.profile .profile_items .profile_about .profile_text button {
  margin-top: 25px;
  background: linear-gradient(90deg, rgb(194, 169, 255) 0%, rgb(117, 123, 242) 100%);
  background-size: 150% 150%;
  border: solid 3px rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  color: white;
  padding: 14px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: sticky;
  top: 100%;
  white-space: nowrap;
  transition: font-size 0.1s ease-in-out, padding 0.1s ease-in-out;
}
.profile .profile_items .profile_about .profile_text button:focus, .profile .profile_items .profile_about .profile_text button:active {
  outline: none !important;
  box-shadow: none;
}
.profile .profile_items .profile_about .profile_text button:hover {
  font-size: 20px;
  padding: 12.5px 33.5px;
}

@media (max-width: 1000px) {
  body {
    overflow: auto !important; /* important cuz profiles.js overrides it */
  }
  .profile .profile_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile .profile_items .profile_img img {
    min-width: auto;
    max-width: 100vw;
    min-height: auto;
    max-height: 1200px;
    width: auto;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .profile .profile_items .profile_about {
    width: 90vw;
    margin-bottom: 50px;
  }
}
@media (max-width: 535px) {
  .profile_nav {
    width: 75vw;
  }
  .profile_nav button {
    width: 18vw;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .profile .profile_items .profile_about .profile_text {
    padding-right: 5px !important;
    padding-left: 14px !important;
  }
  .profile .profile_items .profile_about .profile_text .title {
    padding-right: 10px !important;
    font-size: 8vw;
  }
  .profile .profile_items .profile_about .profile_text .title hr {
    color: white;
    height: 0.45vw;
    opacity: 0.7;
    margin-top: auto;
    margin-bottom: 1.8vw;
  }
  .profile .profile_items .profile_about .profile_text .title .hr {
    width: 65vw;
  }
  .profile .profile_items .profile_about .profile_text .title .hr-small {
    width: 50vw;
  }
  .profile .profile_items .profile_about .profile_text p {
    font-size: 17px !important;
  }
  .profile .profile_items .profile_about .profile_text .content .special-text {
    font-size: 15px !important;
  }
}/*# sourceMappingURL=profiles.css.map */