* {
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

:root {
    --gray: #cfcfcf;
    --white: #f0f0f0;
    --blue: #2b87d3;
    --black: #161c21;
}

body {
    background: rgba(117,123,242,1)!important;
    overflow-x: hidden;
    max-width: 100%;
}

header a,a:hover {
    text-decoration: none;
    color: var(--white)
}

.bottom p {
    position: relative;
    bottom: -15px;
    left: 47.5vw;
    z-index: 5;
    color: var(--gray);
    white-space: nowrap;
    font-size: 15px;
    a {
        text-decoration: none;
        color: white;
    }
}


/*** title ***/

.title h1 {
    align-items: center;
    color: var(--white);
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
}

.list-title h2 {
    display: flex;
    color: var(--white);
    font-weight: 600;
    text-align: center;
    font-size: 2.5rem;
}

/*** vtuber listing ***/

.vtubers {
    padding-top: 20px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    .title {
        position: relative;
        overflow: hidden;
        
        span {
            display: inline-block;
            vertical-align: baseline;
            zoom: 1;
            *display: inline;
            *vertical-align: auto;
            position: relative;
            padding: 0 20px;

            &:before, &:after {
                content: '';
                display: block;
                width: 1000px;
                position: absolute;
                top: 0.73em;
                border-top: 1px solid white;
                border-radius: 100%;
            }

            &:before { right: 100%; }
            &:after { left: 100%; }
        }
    }
    .list {
        margin-top: -26px;
        text-align: center;
        padding-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-bottom-left-radius: 1pc;
        border-bottom-right-radius: 1pc;
    }
}

.vtubers .list .vtuber {
    margin: 15px;
    text-align: left;
    display: flex;
    z-index: 1;
}

.vtubers .list .vtuber .text {
    margin: 28px 15px 0;
}

.vtubers .list img {
    width: 128px;
    height: 128px;
    border-radius: 2px;
    border: 5px solid var(--white);
    background: rgb(255,243,208);
    background: -moz-linear-gradient(180deg, rgba(255,243,208,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,243,208,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(255,243,208,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff3d0",endColorstr="#ffffff",GradientType=1); 
    border-radius: 50%;
}

.vtubers .list .text h3 {
    font-weight: 700;
    font-size: 1.5rem;
}
.vtubers .list .text h3 a {
    color: var(--white);
}

div.vtuber > div > h3 > a {
    text-decoration-line: none;
    background:
      linear-gradient(
        to right,
        white,
        white
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgb(184, 51, 255),
        rgb(7, 0, 200)
    );
    background-size: 0% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    transition: all 400ms;
    
    &:hover {
        background-size: 0 2px, 100% 2px;
      }
  }

  .text h3 span a{
    transition: all 200ms;
    
    &:hover {
        color: white!important;
    }
  }

  .vtuber .image{
    border-radius: 100%;
    &:hover ~ .text h3 a {
        background-size: 0 2px, 100% 2px;
    }
  }
.vtubers .list .text span {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: var(--gray);
    opacity: 0.9;
}

.vtubers .text h3 span a {
    text-decoration-line: none;
}

.independent {
    color:white;
    opacity: 0.6!important;
}

/* Auto Adjustment */

@media (min-width: 2000px) {
    .vtubers .list {
        margin-top: 76px;
    }
    .vtubers .list,
    .vtubers .title {
        transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3); /* IE 9 */
        -webkit-transform: scale(1.3, 1.3); /* Safari and Chrome */
        -o-transform: scale(1.3, 1.3); /* Opera */
        -moz-transform: scale(1.3, 1.3); /* Firefox */
    }
}

@media (max-width: 800px) {

    .bottom p {
        position: relative;
        top: 15px;
        margin-bottom: 11px;
        left: 47vw;
        text-size-adjust: auto;
        width: 50%;
    }

    .area {
        height: 130vh;

        .circles {
            height: 130vh;
        }
    }

    .vtubers {
        padding-top: 20px;
        width: 800px;
        max-width: 100%;
        margin: 0 auto;
    }

    .vtubers .list {
        margin-top: -18.5px;
        text-align: center;
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .title {
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
    }

    .title h1 {
        margin: 5px 5px 0;
        color: var(--white);
        font-weight: 700;
        text-align: center;
        font-size: 2.5rem;
    }
}

@media (max-width: 800px) {
    .bottom p {
        position: relative;
        top: 5px;
        margin-bottom: 11px;
        left: 36vw;
        text-size-adjust: auto;
        width: 50%;
    }

    .area {
        height: 180vh;

        .circles {
            height: 180vh;
        }
    }

    .vtubers .list{
        border-bottom: 1px white;
        border-left: none;
        border-right: none;

            .vtuber {
            margin: 0;
            margin-left: -55px;
            text-align: center;
            display: block;
            z-index: 1;

            position: relative;
            left: 25px;

            transform: scale(0.9, 0.9);
            -ms-transform: scale(0.9, 0.9); /* IE 9 */
            -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
            -o-transform: scale(0.9, 0.9); /* Opera */
            -moz-transform: scale(0.9, 0.9); /* Firefox */
        }
    }
        
    .vtubers .list .text h3 {
        margin-top: -19px;
    }
    
}