* {
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
}

:root {
    --blurple: rgba(117,123,242,1);
    --purple: rgb(147,128,231);
    --gray: #cfcfcf;
    --white: #f0f0f0;
}

::selection {
    background: rgb(194, 169, 255);
}

// Chrome Scrollbar
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

html {
    min-height: 100%;
    height: 100%;
    position: relative;
    user-select: text;
    overflow-x: hidden;

    // Firefox Scrollbar
    scrollbar-color: lightgray transparent;
    scrollbar-width: thin;

    body {
        background: var(--blurple);
        max-width: 100%;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#loading {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;

    img {
        position: fixed;
        left: calc(50% - 70px);
        top: calc(50% - 70px);
        image-rendering: auto;
    }
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a.dotted {
    text-decoration: dotted;
}

header a,a:hover {
    text-decoration: none;
    color: var(--white)
}

.disabled {
    pointer-events: none;
}

#bottom {
    display: none;
    width: min-content;
    p {
        display: inline-block;
        width: min-content;
        position: relative;
        bottom: -6.7px;
        left: calc(50svw - 110px);
        z-index: 5;
        color: var(--gray);
        white-space: nowrap;
        font-size: 15px;
        a {
            text-decoration: none;
            color: white;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.font-italic {
    font-style: italic;
}


/*** title ***/

.title h1 {
    align-items: center;
    color: var(--white);
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
}

.list-title h2 {
    display: flex;
    color: var(--white);
    font-weight: 600;
    text-align: center;
    font-size: 2.5rem;
}

/*** vtuber listing ***/

#vtubers {
    animation: none;
    display: none;
}

.vtubers {
    padding-top: 10px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

    .title {
        position: relative;
        overflow: hidden;
        
        span {
            display: inline-block;
            vertical-align: baseline;
            zoom: 1;
            display: inline;
            vertical-align: auto;
            position: relative;
            padding: 0 20px;

            &:before, &:after {
                content: '';
                display: block;
                width: 1000px;
                position: absolute;
                top: 0.73em;
                border-top: 1px solid white;
                border-radius: 100%;
            }

            &:before { right: 100%; }
            &:after { left: 100%; }
        }
    }

    .list {
        margin-top: -26px;
        text-align: center;
        padding-top: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3 - 20px), 1fr));
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-bottom-left-radius: 1pc;
        border-bottom-right-radius: 1pc;

        #no-results-message {
            color: lightgray;
        }

        .text h3 a {
            color: var(--white);
        }

        .vtuber {
            margin: 15px;
            text-align: left;
            display: flex;
            z-index: 1;

            .text {
                margin: 28px 15px 0;

                h3 {
                    font-weight: 700;
                    font-size: 1.5rem;
                    .name {
                        cursor: pointer;
                    }
                }
            }

            .image {
                img {
                    line-height: 110px;
                    text-align: center;
                    color: mediumpurple;
                    display: inline-block;
                    cursor: pointer;
                    width: 128px;
                    height: 128px;
                    min-width: 128px;
                    min-height: 128px;
                    border: 4px solid var(--white);
                    background: rgb(241, 208, 255);
                    background: linear-gradient(180deg, rgb(242, 213, 254) 0%, rgba(255,255,255,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff3d0",endColorstr="#ffffff",GradientType=1); 
                    border-radius: 44% 44% 44% 44% / 44% 44% 44% 44%;
                    image-rendering: auto;
                }
            }
        }
    }
}

div.vtuber > div > h3 > a {
    text-decoration-line: none;
    background:
      linear-gradient(
        to right,
        white,
        white
      ),
      linear-gradient(
        to right,
        rgba(218, 6, 157, 1),
        rgb(184, 51, 255),
        rgb(75, 30, 171)
    );
    background-size: 0% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    transition: all 400ms;
    
    &:hover {
        background-size: 0 2px, 100% 2px;
      }
  }

  .text h3 span a {
    transition: all 200ms;
    
    &:hover {
        color: white!important;
    }
  }

  .vtuber .image {
    border-radius: 100%;

    &:hover ~ .text h3 a {
        background-size: 0 2px, 100% 2px;
    }
    a {
        cursor: pointer;
    }
  }
.vtubers .list .text span {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: var(--gray);
    opacity: 0.9;
}

.vtubers .text h3 span a {
    text-decoration-line: none;
}

.independent {
    color:white;
    opacity: 0.6!important;
}

/* Tooltip Container */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;

    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}

/* Search Features */
#search-btn {
    position: absolute;
    top: 10px;
    color: rgb(245, 245, 245);
    cursor: pointer;
    --fa-beat-fade-opacity: 0.875;
    --fa-beat-fade-scale: 1.075;
}

// Source code: https://codepen.io/PRtheRose/pen/BNgEJo
$input-background: rgba(57, 63, 84, 0.7);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;

// gradient animation
@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.webflow-style-input {
    position: relative;
    display: none;
    flex-direction: row;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 1.0rem 2rem 1.2rem;
    background: $input-background;
    &:after {
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        height: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background-position: 0% 0%;
        background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
        background-size: 500% auto;
        animation: gradient 3s linear infinite;
    }

    input {
        text-align: center;
        border-style: none;
        background: transparent;
        outline: none;
        flex-grow: 1;
        color: $input-text-active;
        font-size: 1.8rem;
        line-height: 2.4rem;
        vertical-align: middle;
        &::-webkit-input-placeholder {
            color: $input-text-inactive;
        }
    }
}

/* Auto Adjustment */
@media (max-width: 1000px) {
    html {
        overflow: -moz-hidden-unscrollable;
        overflow: hidden;
    }

    body {
        // Firefox Scrollbar
        scrollbar-color: lightgray transparent;
        scrollbar-width: thin;
    }
}

@media (max-width: 800px) {
    .webflow-style-input {
        top: -10px!important; /* Important to override previous state */
    }
    .area {
        scrollbar-color: unset;
        scrollbar-width: auto;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0em;
        height: 0em;
    }

    #bottom p {
        position: relative;
        top: 5px;
        margin-bottom: 11px;
        left: 28svw;
        text-size-adjust: auto;
        width: 50%;
    }

    .vtubers{
        padding-top: 20px;
        width: 800px;
        max-width: 100%;
        margin: 0 auto;

        .list {
            border-bottom: 1px white;
            border-left: none;
            border-right: none;

            .vtuber {
                margin-bottom: 15px;
                margin-left: -50px;
                margin-right: -50px;
                text-align: center;
                display: block;
                z-index: 1;
                position: relative;
            }
        }
    }

    .vtubers {
        padding-top: 20px;
        width: 800px;
        max-width: 100%;
        margin: 0 auto;

        .title {
            align-items: center;
            justify-content: center;
            text-align: center;
            display: flex;
        }
    
        .title h1 {
            margin: 5px 5px 0;
            color: var(--white);
            font-weight: 700;
            text-align: center;
            font-size: 2.5rem;
        }

        .list {
            text-align: center;
            padding-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .text h3 {
                margin-top: -19px;
            }
        }
    }
}

@media (max-width: 400px) {.vtubers .list .vtuber {transform: scale(0.9, 0.9)}}

@media (max-width: 360px) {.vtubers .list .vtuber {transform: scale(0.85, 0.85)}}
